<div class="vym-slide-engine">

  <div class="vym-demo-notice">
    <p>
      To edit this slide show, please activate this repo on Vym.
    </p>
    <button class="vym-btn-activate-repo vym-btn vym-btn-sm">Activate repo</button>
  </div>

  <div class="vym-slide-menu">

    <div class="vym-main-menu">
      <a href="#" class="vym-toggle-uncovered-section">
        View uncovered files
      </a>
    </div>

    <div class="vym-slide-navigation">
      <button class="vym-nav-prev vym-btn vym-btn-sm">Prev</button>
      <div class="vym-slide-number-tracker">
        <div class="vym-current-slide-number"></div>
        <div class="vym-slide-number-divider">/</div>
        <div class="vym-total-slide-count"></div>
      </div>
      <button class="vym-nav-next vym-btn vym-btn-sm">Next</button>
    </div>
  </div>

  <div class="vym-slides">
  </div>

  <div class="vym-uncovered-files-section" style="display: none;">
  </div>
</div>
